<mat-toolbar color="primary" class="navbar">
    <mat-toolbar-row>
        <span>Vocalía</span>

    </mat-toolbar-row>
    <mat-toolbar-row>
        <nav>
            <!--<span><a class="button" routerLink="/transferencias" routerLinkActive="activebutton" >Transferencias</a></span>
            <span><a class="button" routerLink="/cuentas" routerLinkActive="activebutton">Cuentas</a></span>
            <span><a class="button" routerLink="/pagos"
            routerLinkActive="activebutton">Pagos</a></span>-->
            <span><a class="button" routerLink="/goles" routerLinkActive="activebutton">Goles</a></span>
            <span><a class="button">Lista de observaciones</a></span>
        </nav>


    </mat-toolbar-row>
</mat-toolbar>


<router-outlet></router-outlet>
<!-- <app-goles-tarjetas-equipouno></app-goles-tarjetas-equipouno> -->

<mat-toolbar color="primary" class="navbar">
    <mat-toolbar-row>
        <span>Social Soccer 2021</span>

    </mat-toolbar-row>

</mat-toolbar>