<mat-toolbar color="primary" class="navbar">

    <mat-toolbar-row>
        <nav>
            <span><a class="button" routerLink="/lista" routerLinkActive="activebutton">Lista de Jugadores</a></span>
            <span><a class="button" routerLink="/goles" routerLinkActive="activebutton">Goles y Tarjetas</a></span>
            <span><a class="button">Guardar Información</a></span>
        </nav>


    </mat-toolbar-row>
</mat-toolbar>


<div>
    <div>
        <img src="assets/images/barcelona-fc.png" alt="equipo1">
        <p>{{goles}}</p>
    </div>
    <div>
        <mat-form-field>
            <mat-label>Número de jugador</mat-label>
            <input matInput #camiseta type="number" required>
        </mat-form-field>
        <button mat-raised-button (click)="newGoal(camiseta.value);camiseta.value=''">+ Nuevo gol</button>
    </div>

    <div>
        <table *ngIf="goleadores">
            <tr>
                <th>Camiseta</th>
                <th>Nombre</th>
                <th>Goles</th>
            </tr>
            <tr *ngFor="let goleador of goleadores">
                <td>{{goleador.camiseta}}</td>
                <td>{{goleador.nombre}}</td>
                <td>{{goleador.goles}}</td>
                <td>
                    <button (click)="plus(goleador.camiseta)">+</button>
                    <button (click)="minus(goleador.camiseta)">-</button>
                </td>

            </tr>
        </table>
    </div>
</div>