<mat-toolbar color="primary" class="navbar">

    <mat-toolbar-row>
        <nav>
            <!--<span><a class="button" routerLink="/transferencias" routerLinkActive="activebutton" >Transferencias</a></span>
        <span><a class="button" routerLink="/cuentas" routerLinkActive="activebutton">Cuentas</a></span>
        <span><a class="button" routerLink="/pagos"
        routerLinkActive="activebutton">Pagos</a></span>-->
            <!-- <span><a class="button" routerLink="/goles" routerLinkActive="activebutton">Goles</a></span> -->
            <span><a class="button" routerLink="/goles" routerLinkActive="activebutton">Continuar</a></span>
        </nav>


    </mat-toolbar-row>
</mat-toolbar>
<div *ngIf="data">
    Vocal<h3>{{data.vocal}}</h3>
    Árbitro<h3>{{data.arbitro}}</h3>
    <h3>{{data.equipos[0].nombre}}</h3>VS<h3>{{data.equipos[1].nombre}}</h3>

</div>